.postagens{
    width: 70%;
    margin: auto;
    text-align: center;
}
.postagens h1{
    text-align: center;
}
.postagensImg{
    width: 17em;
    margin: auto;
}
.postagensImg img{
    width: 100%;
}